#canvas {
    border: 5px;
    border-style: solid;
    border-color: black;
    margin-left: 15%;
    margin-right: 15%;
}

#predict {

    font-size: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}