h1 {
    text-align: center;
}

header {
    position: relative;
    height: 100px;
    padding: 1.5% 15%;
    margin-bottom: 10px;
}

body {
    padding-bottom: 100px;
}
#canvas {
    border: 5px;
    border-style: solid;
    border-color: black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
}

#btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#pred {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#conf {
    position: relative;
    height: 100px;
    padding: 1.5% 15%;
    /* display: none; */
}

.button {
    font-size: 2em;
    margin-top:  30px;
    margin-left:  50px;
    margin-right: 50px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.6;
}

.button:hover {
    opacity: 1;
    transition-duration: 0.4s;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background-color: black;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black ;
    color: white;
    text-align: center
}

